<footer class="page-footer text-center font-small mt-4 animation fadeIn elegant-color-dark">
  <div class="container">
    <div class="row">

        <div class="col-lg3 col-md-3 my-4">
        <p class="text-left"><strong>О нас</strong></p>
        <hr class=" white my-2">
        <p class="text-left">Адрес:  г. Москва, Щелковское шоссе,<br> д. 100, корп. 1, 4 этаж<br> (Центральный офис)</p>
        <p class="text-left"><i class="fas fa-phone"></i> +7(495)663-32-26</p>
        <p class="text-left"><i class="fas fa-mobile-alt"></i> +7(916)260-02-66</p>
        <p class="text-left"><a href="mailto:reinvest-service@mail.ru"><i class="fa fa-envelope"></i> reinvest-service@mail.ru</a></p>
        </div>

      <div class="col-lg3 col-md-3 my-4">

        <p class="text-left"><strong>Наши услуги</strong></p>
        <hr class=" white my-2">
        <p class="text-left">Адрес:  г. Москва, Щелковское шоссе,<br> д. 100, корп. 1, 4 этаж<br> (Центральный офис)</p>
        <p class="text-left">Тел./Факс:  +7(495)663-32-26</p>
        <p class="text-left">Моб:  +7(916)260-02-66</p>
        <p class="text-left">Email: reinvest-service@mail.ru</p>

      </div>
      <div class="col-lg3 col-md-3 my-4">

        <p class="text-left"><strong>Аккаунт</strong></p>
        <hr class=" white my-2">
        <p class="text-left">Адрес:  г. Москва, Щелковское шоссе,<br> д. 100, корп. 1, 4 этаж<br> (Центральный офис)</p>
        <p class="text-left">Тел./Факс:  +7(495)663-32-26</p>
        <p class="text-left">Моб:  +7(916)260-02-66</p>
        <p class="text-left">Email: reinvest-service@mail.ru</p>

      </div>
      <div class="col-lg3 col-md-3 my-4">

        <p class="text-left"><strong>Статьи</strong></p>
        <hr class=" white my-2">
        <p class="text-left">Адрес:  г. Москва, Щелковское шоссе,<br> д. 100, корп. 1, 4 этаж<br> (Центральный офис)</p>
        <p class="text-left">Тел./Факс:  +7(495)663-32-26</p>
        <p class="text-left">Моб:  +7(916)260-02-66</p>
        <p class="text-left">Email: reinvest-service@mail.ru</p>

      </div>
    </div>


  </div>
  <!--<div class="pt-4">
    <a href="#" role="button" class="btn btn-outline-white">WDB <i class="fa fa-graduation-cap ml-2"></i></a>
    <a href="#" role="button" class="btn btn-outline-white">Online shop <i class="fa fa-graduation-cap ml-2"></i></a>
  </div>
  <div class="container">
    <hr class=" white ">
  </div>

  <div class="pb-4">
    <a href="#">
      <i class="fab fa-fasebook mr-3"></i>
    </a>
    <a href="#">
      <i class="fab fa-twitter mr-3"></i>
    </a>
    <a href="#">
      <i class="fab fa-youtube mr-3"></i>
    </a>
    <a href="#">
      <i class="fab fa-google-plus mr-3"></i>
    </a>
    <a href="#">
      <i class="fab fa-dribbble mr-3"></i>
    </a>
    <a href="#">
      <i class="fab fa-pinterest mr-3"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram mr-3"></i>
    </a>
  </div>-->
  <div class="footer-copyright py-2">
    © Реинвест-Сервис 2020
  </div>
</footer>