
{% extends 'product/base.html' %}
{% block content%}

{% load static %}
<!-- carousel -->
  <div id="carousel-ex" class="carousel slide carousel-fade " data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#carousel-ex" data-slide-to="0"></li>
        <li data-target="#carousel-ex" data-slide-to="1"></li>
        <li data-target="#carousel-ex" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view" style="background-image: url('{% static 'img/data/banner-main/flexi_pic.jpg' %}');
          background-repeat: no-repeat; background-size: cover;">
          <div class="weight-center mx-5 pl-5 mt-4">
            <div class="text-left white-text mt-4 pt-4">
              <div class="animated slideInLeft" style="font-size: 30px;">
                <h1 class="h1-responsive"><strong>СОХРАНЯЙТЕ ЛУЧШИЕ</strong></h1>
                <h1 class="h1-responsive"><strong>МОМЕНТЫ</strong></h1>
              </div>
              <div class="animated fadeInUp">
              <a href="#" class="btn-floating btn-lg btn-danger">
                <h4><strong>АКЦИИ</strong></h4>
              </a>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="view align-items-center" style="background-image: url('{% static 'img/data/banner-main/PKina26.jpg' %}');
          background-repeat: no-repeat; background-size: cover;">
          <div class="d-flex justify-content-center align-items-center">
            <div class="text-center white-text mx-5 wow fadeIn">
              <!--
              <h1 class="mb-4">
                <strong>Web Developer Blog</strong>
              </h1>

              <p>
                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, rem!</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit adipisci similique, architecto facilis quasi. Aliquam?</strong>
              </p>
              <a href="#" class="btn btn-outline-white btn-lg">
                Lorem ipsum dolor. <i class="fa fa-graduation-cap ml-2"></i>
              </a>
            -->
            </div>
          </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="view" style="background-image: url('{% static 'img/data/banner-main/banner_akcii.jpg' %}');
          background-repeat: no-repeat; background-size: cover;">
                <!--Caption
           <div class="text-left white-text mt-20 mx-10">
             <div class="animated slideInLeft">
               <h1 class="h1-responsive">СОРАНЯЙТЕ ЛУЧШИЕ</h1>
               <h1 class="h1-responsive">МОМЕНТЫ</h1>
             </div>
           </div>
           -->
          </div>
        </div>

      </div>
      <!-- кнопки  лево - право -->
      <a href="#carousel-ex" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a href="#carousel-ex" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>

  </div>
  <!-- end carousel -->

<main>
  
  <div class="container">
    <!-- Категории -->
    <div class="text-center mt-4 mb-4">
      <div class="row animation fadeIn categoris">
        {% for category in categories %}
        
        <div class="col-12 col-md-5 col-lg-3 mb-4 {% if category.parent %}category categoryId{{ category.parent.id }}{% endif %}">
        
          <div class="apparels_offer_area">
              <img src="{{ category.image.url }}" alt="{{ category.name }}">
              <div class="apparels_offer_info d-flex align-items-center">
                  <div class="apparels-offer-content w-100">
                      
                      <!--<h4>Apparel &amp; <br><span>Garments</span></h4>-->
                      <a href="{{ category.url }}" class="btn h-100 {% if category.is_parent %}btnCategory{% endif %}" {% if category.is_parent %} id="categoryId{{ category.id }}"{% endif %}><h4>{{ category.name }}</h4> <i class="icofont-rounded-right"></i></a>
                  	  
                  </div>
              </div>
          </div>
        </div>
        {% endfor %}

        
      </div>
    </div>
  </div>

    <!--
    <div class="row">
      <div class="col-6 col-md-5 col-lg-4 mt-4 mb-4">
        <hr>
      </div>
      <div class="col-6 col-md-5 col-lg-4 text-center mt-4 mb-4">
        <h4><b>РЕКОМЕНДУЕМ</b></h4>
      </div>
      <div class="col-6 col-md-5 col-lg-4  mt-4 mb-4">
        <hr>
      </div>
    </div> -->
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section_heading new_arrivals ">
                <h5>РЕКОМЕНДУЕМ</h5>
            </div>
        </div>
    </div>


    <div class="new_arrivals_slides owl-carousel owl-theme">
    {% for product in products_main %}
    <div class="item">
      <!-- Single Product -->
      <div class="single-product-area">
          <div class="product_image">
              <!-- Product Image -->
            <a href="{{product.get_absolute_url}}">  <!-- .get_absolute_url-->
              {% for image_item in product.productimage_set.all %}
              <img class="normal_img" src="{{ image_item.image.url }}" alt="">
              <img class="hover_img" src="" alt="">
              {%endfor%}
            </a>
              <!-- Product Badge -->
              <div class="product_badge">
                  <span>TOP</span>
              </div>

              <!-- Wishlist -->
              <div class="product_wishlist">
                  <a href="wishlist.html"><i class="fa fa-heart"></i></a>
              </div>

              <!-- Compare -->
              <div class="product_compare">
                  <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
              </div>
          </div>

          <!-- Product Description -->
          <div class="product_description">
              <!-- Add to cart -->
              <div class="product_add_to_cart">
                  <a href="#" class="btnCart" id="add_cart{{product.id}}" data-product_id= "{{product.id}}">
                     	<i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
              </div>

              <!-- Quick View  product_quick_view -->
              <div class="product_quick_view">
                  <a href="#" data-toggle="modal" data-target="#quickview"><b> Просмотреть</b></a>
              </div>

              <!--<p class="brand_name">DNP</p>-->
              <a href="{{product.get_absolute_url}}"><i class="fa fa-arrows-h" ></i>{{ product.name }}</a>
              <div class="row d-flex justify-content-around align-items-center">
              <h5 class="product-price"><b>{{ product.price }} ₽</b></h5>
              <div class="product_rating">
              	  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span>12</span>
              </div>
              </div>
          </div>
      </div>
    </div>
    {% endfor %}

  </div>



  <!--owl.carousel-->

    <div class="row  animation fadeIn">
      <div class="col-12 col-lg-8">
      </div>
        <div class="col-12 col-lg-4 mt-3">
            <div class="section_heading featured">
                <h5>Новые поступления</h5>
            </div>
        </div>
    </div>
  <div class="new_arrivals_slides owl-carousel owl-theme">
  <div class="item">
    <!-- Single Product -->
    <div class="single-product-area">
        <div class="product_image">
            <!-- Product Image -->
          <a href="#">
            <img class="normal_img" src="img/data/products/HTD6930_detail_a.jpg" alt="">
            <img class="hover_img" src="" alt="">
          </a>
            <!-- Product Badge -->
            <div class="product_badge">
                <span>TOP</span>
            </div>

            <!-- Wishlist -->
            <div class="product_wishlist">
                <a href="wishlist.html"><i class="fa fa-heart"></i></a>
            </div>

            <!-- Compare -->
            <div class="product_compare">
                <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product_description">
            <!-- Add to cart -->
            <div class="product_add_to_cart">
                <a href="#"><i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
            </div>

            <!-- Quick View  product_quick_view -->
            <div class="product_quick_view">
                <a href="#" data-toggle="modal" data-target="#quickview"><b> Купить в 1 клик</b></a>
            </div>

            <!--<p class="brand_name">DNP</p>-->
            <a href="#"><i class="fa fa-arrows-h" ></i>ПРИНТЕР DNP DS-40</a>
            <div class="row d-flex justify-content-around align-items-center">
            <h5 class="product-price"><b>80000 ₽</b></h5>
            <div class="product_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>12</span>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="item">
    <!-- Single Product -->
    <div class="single-product-area">
        <div class="product_image">
            <!-- Product Image -->
          <a href="#">
            <img class="normal_img" src="img/data/products/N DNP DS-40.jpg" alt="">
            <img class="hover_img" src="" alt="">
          </a>
            <!-- Product Badge -->
            <div class="product_badge">
                <span>TOP</span>
            </div>

            <!-- Wishlist -->
            <div class="product_wishlist">
                <a href="wishlist.html"><i class="fa fa-heart"></i></a>
            </div>

            <!-- Compare -->
            <div class="product_compare">
                <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product_description">
            <!-- Add to cart -->
            <div class="product_add_to_cart">
                <a href="#"><i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
            </div>

            <!-- Quick View  product_quick_view -->
            <div class="product_quick_view">
                <a href="#" data-toggle="modal" data-target="#quickview"><b> Купить в 1 клик</b></a>
            </div>

            <!--<p class="brand_name">DNP</p>-->
            <a href="#"><i class="fa fa-arrows-h" ></i>ПРИНТЕР DNP DS-40</a>
            <div class="row d-flex justify-content-around align-items-center">
            <h5 class="product-price"><b>80000 ₽</b></h5>
            <div class="product_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>12</span>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="item">
    <!-- Single Product -->
    <div class="single-product-area">
        <div class="product_image">
            <!-- Product Image -->
          <a href="#">
            <img class="normal_img" src="img/data/products/Rx1-02.jpg" alt="">
            <img class="hover_img" src="" alt="">
          </a>
            <!-- Product Badge -->
            <div class="product_badge">
                <span>TOP</span>
            </div>

            <!-- Wishlist -->
            <div class="product_wishlist">
                <a href="wishlist.html"><i class="fa fa-heart"></i></a>
            </div>

            <!-- Compare -->
            <div class="product_compare">
                <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product_description">
            <!-- Add to cart -->
            <div class="product_add_to_cart">
                <a href="#"><i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
            </div>

            <!-- Quick View  product_quick_view -->
            <div class="product_quick_view">
                <a href="#" data-toggle="modal" data-target="#quickview"><b> Купить в 1 клик</b></a>
            </div>

            <!--<p class="brand_name">DNP</p>-->
            <a href="#"><i class="fa fa-arrows-h" ></i>ПРИНТЕР DNP DS-40</a>
            <div class="row d-flex justify-content-around align-items-center">
            <h5 class="product-price"><b>80000 ₽</b></h5>
            <div class="product_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>12</span>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="item">
    <!-- Single Product -->
    <div class="single-product-area">
        <div class="product_image">
            <!-- Product Image -->
          <a href="#">
            <img class="normal_img" src="img/data/products/Rx1-02.jpg" alt="">
            <img class="hover_img" src="" alt="">
          </a>
            <!-- Product Badge -->
            <div class="product_badge">
                <span>TOP</span>
            </div>

            <!-- Wishlist -->
            <div class="product_wishlist">
                <a href="wishlist.html"><i class="fa fa-heart"></i></a>
            </div>

            <!-- Compare -->
            <div class="product_compare">
                <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product_description">
            <!-- Add to cart -->
            <div class="product_add_to_cart">
                <a href="#"><i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
            </div>

            <!-- Quick View  product_quick_view -->
            <div class="product_quick_view">
                <a href="#" data-toggle="modal" data-target="#quickview"><b> Купить в 1 клик</b></a>
            </div>

            <!--<p class="brand_name">DNP</p>-->
            <a href="#"><i class="fa fa-arrows-h" ></i>ПРИНТЕР DNP DS-40</a>
            <div class="row d-flex justify-content-around align-items-center">
            <h5 class="product-price"><b>80000 ₽</b></h5>
            <div class="product_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>12</span>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="item">
    <!-- Single Product -->
    <div class="single-product-area">
        <div class="product_image">
            <!-- Product Image -->
          <a href="#">
            <img class="normal_img" src="img/data/products/Rx1-02.jpg" alt="">
            <img class="hover_img" src="" alt="">
          </a>
            <!-- Product Badge -->
            <div class="product_badge">
                <span>TOP</span>
            </div>

            <!-- Wishlist -->
            <div class="product_wishlist">
                <a href="wishlist.html"><i class="fa fa-heart"></i></a>
            </div>

            <!-- Compare -->
            <div class="product_compare">
                <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product_description">
            <!-- Add to cart -->
            <div class="product_add_to_cart">
                <a href="#"><i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
            </div>

            <!-- Quick View  product_quick_view -->
            <div class="product_quick_view">
                <a href="#" data-toggle="modal" data-target="#quickview"><b> Купить в 1 клик</b></a>
            </div>

            <!--<p class="brand_name">DNP</p>-->
            <a href="#"><i class="fa fa-arrows-h" ></i>ПРИНТЕР DNP DS-40</a>
            <div class="row d-flex justify-content-around align-items-center">
            <h5 class="product-price"><b>80000 ₽</b></h5>
            <div class="product_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>12</span>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="item">
    <!-- Single Product -->
    <div class="single-product-area">
        <div class="product_image">
            <!-- Product Image -->
          <a href="#">
            <img class="normal_img" src="img/data/products/Rx1-02.jpg" alt="">
            <img class="hover_img" src="" alt="">
          </a>
            <!-- Product Badge -->
            <div class="product_badge">
                <span>TOP</span>
            </div>

            <!-- Wishlist -->
            <div class="product_wishlist">
                <a href="wishlist.html"><i class="fa fa-heart"></i></a>
            </div>

            <!-- Compare -->
            <div class="product_compare">
                <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product_description">
            <!-- Add to cart -->
            <div class="product_add_to_cart">
                <a href="#"><i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
            </div>

            <!-- Quick View  product_quick_view -->
            <div class="product_quick_view">
                <a href="#" data-toggle="modal" data-target="#quickview"><b> Купить в 1 клик</b></a>
            </div>

            <!--<p class="brand_name">DNP</p>-->
            <a href="#"><i class="fa fa-arrows-h" ></i>ПРИНТЕР DNP DS-40</a>
            <div class="row d-flex justify-content-around align-items-center">
            <h5 class="product-price"><b>80000 ₽</b></h5>
            <div class="product_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>12</span>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="item">
    <!-- Single Product -->
    <div class="single-product-area">
        <div class="product_image">
            <!-- Product Image -->
          <a href="#">
            <img class="normal_img" src="img/data/products/Rx1-02.jpg" alt="">
            <img class="hover_img" src="" alt="">
          </a>
            <!-- Product Badge -->
            <div class="product_badge">
                <span>TOP</span>
            </div>

            <!-- Wishlist -->
            <div class="product_wishlist">
                <a href="wishlist.html"><i class="fa fa-heart"></i></a>
            </div>

            <!-- Compare -->
            <div class="product_compare">
                <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product_description">
            <!-- Add to cart -->
            <div class="product_add_to_cart">
                <a href="#"><i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
            </div>

            <!-- Quick View  product_quick_view -->
            <div class="product_quick_view">
                <a href="#" data-toggle="modal" data-target="#quickview"><b> Купить в 1 клик</b></a>
            </div>

            <!--<p class="brand_name">DNP</p>-->
            <a href="#"><i class="fa fa-arrows-h" ></i>ПРИНТЕР DNP DS-40</a>
            <div class="row d-flex justify-content-around align-items-center">
            <h5 class="product-price"><b>80000 ₽</b></h5>
            <div class="product_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>12</span>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="item">
    <!-- Single Product -->
    <div class="single-product-area">
        <div class="product_image">
            <!-- Product Image -->
          <a href="#">
            <img class="normal_img" src="img/data/products/Rx1-02.jpg" alt="">
            <img class="hover_img" src="" alt="">
          </a>
            <!-- Product Badge -->
            <div class="product_badge">
                <span>TOP</span>
            </div>

            <!-- Wishlist -->
            <div class="product_wishlist">
                <a href="wishlist.html"><i class="fa fa-heart"></i></a>
            </div>

            <!-- Compare -->
            <div class="product_compare">
                <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product_description">
            <!-- Add to cart -->
            <div class="product_add_to_cart">
                <a href="#"><i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
            </div>

            <!-- Quick View  product_quick_view -->
            <div class="product_quick_view">
                <a href="#" data-toggle="modal" data-target="#quickview"><b> Купить в 1 клик</b></a>
            </div>

            <!--<p class="brand_name">DNP</p>-->
            <a href="#"><i class="fa fa-arrows-h" ></i>ПРИНТЕР DNP DS-40</a>
            <div class="row d-flex justify-content-around align-items-center">
            <h5 class="product-price"><b>80000 ₽</b></h5>
            <div class="product_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>12</span>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="item">
    <h2>Tons of options</h2>
  </div>
  <div class="item">
    <h2>Infinity</h2>
  </div>
  <div class="item">
    <h2>Auto Width</h2>
  </div>
</div>
</div>
  <!--end owl.carousel-->
<!--e</div> nd  container-->
<div class="container">
    <div class="row  animation fadeIn">
        <div class="col-12">
            <div class="section_heading new_arrivals ">
                <h5>НАШИ БРЕНДЫ</h5>
            </div>
        </div>
    </div>
    <!--<div class="row  animation fadeIn">
      <div class="col-12 col-lg-9">
      </div>
        <div class="col-12 col-lg-3 mt-3">
            <div class="section_heading featured">
                <h5>НАШИ БРЕНДЫ</h5>
            </div>
        </div>
    </div>-->


      <div class="row  animation fadeIn d-flex">
        <div class="col-12 col-md-5 col-lg-3 mb-4">
          <div class="view overlay">
            <img class="card-img-top" src="{% static 'img/data/category/dnp_color.jpg' %}" alt="DNP">
            <a href="">
              <div class="mask rgba-white-slight"></div>
            </a>

          </div>
        </div>

        <div class="col-12 col-md-5 col-lg-3 mb-4">
          <div class="view overlay">
            <img class="card-img-top" src="{% static 'img/data/category/hiti_bw.png' %}" alt="HITI">
            <a href="">
              <div class="mask rgba-white-slight"></div>
            </a>

          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-3 mb-4">
          <div class="view overlay">
            <img class="card-img-top" src="{% static 'img/data/category/mitsu_color.png' %}" alt="MITSUBISHI">
            <a href="">
              <div class="mask rgba-white-slight"></div>
            </a>

          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-3 mb-4">
          <div class="view overlay">
            <img class="card-img-top" src="{% static 'img/data/category/sinfo_bw.png' %}" alt="SINFONIA">
            <a href="">
              <div class="mask rgba-white-slight"></div>
            </a>

          </div>
        </div>
      </div>
    </div>


  <!-- Special Featured Area -->
  <section class="special_feature_area mt-3 p-2">
      <div class="container">
          <div class="row ">
              <!-- Single Feature Area -->
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single_feature_area mb-3 d-flex  align-items-center h-100">
                      <div class="feature_icon">
                          <i class="fa fa-truck"></i>
                          <span><i class="fa fa-check"></i></span>
                      </div>
                      <div class="feature_content d-flex align-self-start flex-wrap mt-2">
                          <h6><b>Доставка по всей России</b></h6>

                          <p>Доставим любой транспортной компанией</p>
                      </div>
                  </div>
              </div>

              <!-- Single Feature Area -->
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single_feature_area mb-3 d-flex  align-items-center h-100">
                      <div class="feature_icon">
                          <i class="fa fa-wrench"></i>
                          <span><i class="fa fa-check"></i></span>
                      </div>
                      <div class="feature_content  d-flex align-self-start flex-wrap mt-2">
                          <h6><b>Собственный сервисный центр</b></h6>
                          <p>Производим ремонт любой сложности
                             с запчастями от производителя</p>
                      </div>
                  </div>
              </div>

              <!-- Single Feature Area -->
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single_feature_area mb-3 d-flex  align-items-center h-100">
                      <div class="feature_icon">
                          <i class="fa fa-credit-card"></i>
                          <span><i class="fa fa-check"></i></span>
                      </div>
                      <div class="feature_content d-flex align-self-start flex-wrap  mt-2">
                          <h6><b>Удобная оплата</b></h6>
                          <p>Принимаем к оплате любые карты</p>
                      </div>
                  </div>
              </div>

              <!-- Single Feature Area -->
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single_feature_area mb-3 d-flex  align-items-center h-100">
                      <div class="feature_icon">
                          <i class="fa fa-star "></i>
                          <span><i class="fa fa-check"></i></span>
                      </div>
                      <div class="feature_content  d-flex align-self-start flex-wrap  mt-2">
                          <h6><b>Демонстрационный зал</b></h6>
                          <p>Покажем любой
                             товар в действии и обучим его использованию</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Special Featured Area -->




</main>

{% endblock content%}
