{% extends 'catalog/product/base.html' %}
{% block content %}
    <!-- Quick View Modal Area -->
    <div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="quickview_body">
                        <div class="container">
                            <div class="row row_quickview">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick View Modal Area -->
    

    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <!-- Breadcumb Area -->
    <div class="breadcumb_area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!--<h5>Product Details</h5>-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <!--<li class="breadcrumb-item"><a href="#">Shop</a></li> -->
                        <li class="breadcrumb-item active">{{ product.name }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcumb Area -->

    <!-- Single Product Details Area -->
    <section class="single_product_details_area section_padding_100">
        <div class="container">
            <div class="row row-eq-height mb-5">
                <div class="col-12 col-lg-6">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                            <!-- Carousel Inner -->
                            <div class="carousel-inner">


                           		{% for image_item in product.productimage_set.all %}

                                {%if image_item.is_main is True %}
                                    <div class="carousel-item active">
                                {% else %}
                                    <div class="carousel-item">
                                {% endif %}
                                    <a class="gallery_img" href="{{ image_item.image.url }}" title="First Slide {{ forloop.counter }}">
                                        <img class="d-block w-100" src="{{ image_item.image.url }}" alt="Первый слайд {{ forloop.counter }}">
                                    </a>
                                    <!-- Product Badge -->
                                   <div class="product_badge">
                                        <span class="badge-new">NEW</span>
                                    </div>
                                </div>
                                {% endfor %}


                            </div>

                            <!-- Carosel Indicators -->
                            <ol class="carousel-indicators">
                                {% for image_item in product.productimage_set.all %}
                                <li class="active" data-target="#product_details_slider" data-slide-to="{{ forloop.counter0 }}" style="background-image: url({{ image_item.image.url }});">
                                </li>
                                {% endfor %}

                            </ol>
                        </div>
                    </div>
                </div>

                <!-- Single Product Description -->
                <div class="col-12 col-lg-6">
                    <div class="single_product_desc">
                        <h4 class="title mb-2">{{ product.name }}</h4>
                        <p class="title-detail">{{ product.category.name }}</p>
                        <p class="title-detail">{{ product.manufacturer.name }}</p>
                        <div class="single_product_ratings mb-2">
                            {% if product.middlestar >= 1 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            {% else %}
                                <i class="far fa-star" aria-hidden="true"></i>
                            {% endif %}
                            {% if product.middlestar >= 2 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            {% else %}
                                <i class="far fa-star" aria-hidden="true"></i>
                            {% endif %}
                            {% if product.middlestar >= 3 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            {% else %}
                                <i class="far fa-star" aria-hidden="true"></i>
                            {% endif %}
                            {% if product.middlestar >= 4 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            {% else %}
                                <i class="far fa-star" aria-hidden="true"></i>
                            {% endif %}
                            {% if product.middlestar >= 5 %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            {% else %}
                                <i class="far fa-star" aria-hidden="true"></i>
                            {% endif %}
                            
                            <span class="title-detail"> ({{product.countStar}}) /</span> 
                            <a href="#reviews" id="reviews-tab" class="title-detail" > Оставить отзыв </a>
                        </div>
                        <h4 class="price mb-4">{{ product.price }} ₽<span></span></h4>

                        <!-- Overview -->
                        <div class="short_overview mb-2">
                            <h6>О товаре:</h6>
                            <p>{{ product.short_description }}</p>
                        </div>
                        <div class="short_overview mb-2">
                            <a href="#description" id="description-tab" ><u>Перейти к подробному описанию</u> </a>
                        </div>
                        <div class="short_overview mb-2">
                            <h6>Краткие характеристики:</h6>
                            <p>Вес (кг): {{ productdetail.weight }}</p>
                            <p>Габариты (ШхВхГ): {{ productdetail.width }}х{{ productdetail.height }}х{{ productdetail.length }}</p>
                            <p>{{ productdetail.formats }}</p>
                        </div>
                        <div class="short_overview mb-2">
                            <a href="#addi-info" id="characteristics-tab" ><u>Перейти ко всем характиристикам</u> </a>
                        </div>
                        
                        <!-- Add to Cart Form method="post" -->
                        {% if product.rest %}
                                 <form class="cart clearfix my-3 d-flex flex-wrap align-items-center" id="form_bay_prod_datail" action="/basket_adding/">{% csrf_token %}
                                    <div class="quantity">
                                        <input type="number" class="qty-text form-control" id="qty2" step="1" min="1" max="{{product.rest}}" name="quantity" value="1">
                                    </div>
                                    <button type="submit" name="addtocart" value="5" id="btn_submit"
                                    class="btn btn-rein mt-1 mt-md-0 ml-1 ml-md-3"
                                    data-toggle="modal" data-target="#basicExampleModal"
                                    data-product_id= "{{product.id}}"
                                    data-product_name= "{{product.name}}"
                                    data-product_price= "{{product.price}}"
                                    data-product_url="{% for image_item in product.productimage_set.all %}
                                    {{ image_item.image.url }}
                                    {% endfor %}">
                                    Добавить в корзину</button>
                                </form>
                        {% else %}
                                <div class="my-3" style="color: #cf0000">
                                    <button class="btn btn-rein mt-1 mt-md-0 ml-1 ml-md-3"> <strong>Под заказ</strong></button>
                                </div>
                                
                        {% endif %}
                       

                        <!-- Others Info -->
                        <div class="others_info_area mb-3 d-flex flex-wrap">
                            <a class="add_to_wishlist" href="wishlist.html"><i class="fa fa-heart" aria-hidden="true"></i> В избранное</a>
                            <a class="add_to_compare" href="compare.html"><i class="fas fa-exchange-alt" aria-hidden="true"></i> Сравнить</a>
                            <a class="share_with_friend" href="#"><i class="fas fa-share-alt" aria-hidden="true"></i> Поделиться</a>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_details_tab section_padding_100_0 clearfix">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="product-details-tab">
                            <li class="nav-item">
                                <a href="#description" id="tab-description" class="nav-link active" data-toggle="tab" role="tab"> Описание</a>
                            </li>
                            <li class="nav-item">
                                <a href="#reviews" id="tab-reviews" class="nav-link" data-toggle="tab" role="tab"> Отзывы <span class="text-muted">({{ product.reviews_set.count }})</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#addi-info" id="tab-characteristics" class="nav-link" data-toggle="tab" role="tab"> Характиристики </a>
                            </li>
                        </ul>
                        <!-- Tab Content -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="description">
                                <div class="description_area">
                                   <p class="mb-0">{{ productdetail.description|safe }}</p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="reviews">
                                <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="reviews_area">
                                        <ul>
                                            {% for review in product.reviews_set.all %}
                                                <li>
                                                    <div class="single_user_review mb-15">
                                                        
                                                        
                                                        <div class="review-rating" id="star{{review.id}}" data-star= "{{ review.star }}">
                                                            
                                                            
                                                            
                                                        </div>
                                                        
                                                        <div class="review-details">
                                                            <p>От <a href="#">{{ review.name }}</a>    <span>{{ review.created }}</span></p>
                                                            <p>{{ review.text }}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
    
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="submit_a_review_area mt-50">
                                        <h4>Оставить отзыв</h4>
                                        <form action=" /review/{{ product.id }}/" method="post" name="review">{% csrf_token %}
                                            <div class="form-group mb-5">
                                                <span>Как вы оцените товар?</span>
                                                <input type="hidden" value="{{ product.id }}" name="product">

                                                <div >
                                                    <fieldset class="rating">
                                                        <input type="radio" id="star5" name="star" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                                        <input type="radio" id="star4" name="star" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                                        <input type="radio" id="star3" name="star" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                                        <input type="radio" id="star2" name="star" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                                        <input type="radio" id="star1" name="star" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="form-group">
                                                <label class="editContent" for="name">Имя *</label>
                                                <input type="text" class="form-control" id="name" placeholder="Введите ваше имя" name="name" required="">
                                            </div>
                                            <div class="form-group">
                                                
                                                <label for="contactemail" class="editContent">
                                                    Email  *
                                                </label>
                                                <input type="email" class="form-control border" placeholder="Введите ваш email" name="email"
                                                    id="contactemail" required="">
                                            </div>
                                            
                                        <!-- <div class="form-group">
                                                <label for="options">Категория рейтинга</label>
                                                <select class="form-control small right py-0 w-100" id="options">
                                                    <option>Качество</option>
                                                    <option>Цена</option>
                                                    <option>Скорость</option>
                                                    
                                                </select>
                                            </div>-->
                                            <div class="form-group">
                                                <label for="comments">Комментарий</label>
                                                <textarea class="form-control" id="comments" rows="5" data-max-length="150" name="text" placeholder="Здесь можно написать отзыв"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-rein">Отправить</button>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="addi-info">
                                <div class="additional_info_area">
                                    <h5>Характиристики</h5>
                                    <div class="description_area">
                                        <p class="mb-0">{{ productdetail.characteristics|safe }}</p>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Product Details Area End -->

    <!-- Related Products Area -->
    <section class="you_may_like_area section_padding_0_100 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading">
                        <h5>С этим товаром покупают</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="you_make_like_slider owl-carousel">
                       {% for product_item in products %}
                       <div class="item">
                        <!-- Single Product -->
                        <div class="single-product-area">
                            <div class="product_image">
                                <!-- Product Image -->
                                <img class="normal_img" src="{{product_item.image.url}}" alt="">
                                <img class="hover_img" src="" alt="">

                                <!-- Product Badge -->
                                <div class="product_badge">
                                    <span>New</span>
                                </div>

                                <!-- Wishlist -->
                                <div class="product_wishlist">
                                    <a href="wishlist.html"><i class="icofont-heart"></i></a>
                                </div>

                                <!-- Compare -->
                                <div class="product_compare">
                                    <a href="compare.html"><i class="icofont-exchange"></i></a>
                                </div>
                            </div>

                            <!-- Product Description -->
                            <div class="product_description">
                                <!-- Add to cart -->
                                <div class="product_add_to_cart">
                                    <a href="#" class="btnCart" id="add_cart{{product_item.product.id}}" data-product_id= "{{product_item.product.id}}">
                                    	<i class="fa fa-shopping-cart"></i> <b> В корзину</b></a>
                                </div>

                                <!-- Quick View -->
                                <div class="product_quick_view">
                                    <a href="#" class="product_quickview"  data-product_id="{{product_item.product.id}}" data-toggle="modal" data-target="#quickview">
                                    <i class="fas fa-eye"></i><b> Просмотр</b></a>
                                </div>

                                <!--<p class="brand_name">Top</p>-->
                                <a href="{{product_item.product.get_absolute_url}}">{{ product_item.product.name }}</a>
                                <div class="row d-flex justify-content-around align-items-center">
                                    <h5 class="product-price"><b>{{ product_item.product.price }} ₽</b></h5>
                                    <div class="product_rating">
                                        {% if product_item.product.middlestar >= 1 %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="far fa-star" aria-hidden="true"></i>
                                        {% endif %}
                                        {% if product_item.product.middlestar >= 2 %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="far fa-star" aria-hidden="true"></i>
                                        {% endif %}
                                        {% if product_item.product.middlestar >= 3 %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="far fa-star" aria-hidden="true"></i>
                                        {% endif %}
                                        {% if product_item.product.middlestar >= 4 %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="far fa-star" aria-hidden="true"></i>
                                        {% endif %}
                                        {% if product_item.product.middlestar >= 5 %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="far fa-star" aria-hidden="true"></i>
                                        {% endif %}
                                        
                                        <span>{{product_item.product.countStar}}</span>  
                                </div>
				              </div>
                            </div>
                        </div>
                       </div>
					  {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Products Area -->
{% endblock content %}
