{% extends 'catalog/product/base.html' %}
{% block content%}

{% load static %}

<main>
  <!-- Quick View Modal Area -->
  <div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
              <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <div class="modal-body">
                  <div class="quickview_body">
                      <div class="container">
                          <div class="row row_quickview">
                                                            
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Quick View Modal Area -->

  <!-- Breadcumb Area -->
  <div class="breadcumb_area">
      <div class="container h-100">
          <div class="row h-100 align-items-center">
              <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                  <h5>{{ category.name }}</h5>
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Главная</a></li>
                      <li class="breadcrumb-item active">{{ category.name }}</li>
                  </ol>
              </div>
              <div class="col-12 col-sm-7 col-md-8 col-lg-9">
              	<p>{{ category.description }}</p>
              </div>
          </div>
      </div>
  </div>
  <!-- Breadcumb Area -->

  <section class="shop_grid_area section_padding_100">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                  <div class="shop_sidebar_area">
                    <form class="" action="json-filter" id = 'filter' method="get" name="filter">


                      <!-- Single Widget -->
                      <div class="widget catagory mb-30">
                          <h6 class="widget-title">Бренды</h6>
                          <div class="widget-desc">
                              <div class="custom-control custom-checkbox d-flex align-items-center mb-2 control-checkbox-all">
                                  <input type="checkbox" class="custom-control-input" id="customCheckAll" name="brand" value="0" checked >
                                  <label class="custom-control-label" for="customCheckAll"> все </label>
                              </div> 
                              <div class="count-category">
                              {% for brand in brands %}
                              <!-- Single Checkbox -->

                              <div class="custom-control custom-checkbox d-flex align-items-center mb-2 control-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck{{ brand.id }}" name="brand" value="{{ brand.id}}"  >
                                  <label class="custom-control-label" for="customCheck{{ brand.id }}">{{ brand.name }} <span class="text-muted">({{ brand.count }})</span></label>
                              </div>
                              {% endfor %}
                              </div>
                          </div>
                      </div>

                      <!-- Single Widget -->
                      <div class="widget price mb-30">
                          <h6 class="widget-title">Диапазон цены</h6>
                          <div class="widget-desc">
                              <div class="slider-range">
                                  <div data-min="0" data-max="500000" data-unit="₽" id="customPrice"
                                  class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="500000" data-label-result="Цена:">
                                      <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                      <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                      <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                  </div>
                                  <div class="range-price">Цена: 0 - 500000</div>
                              </div>
                          </div>
                      </div>
                      <div class="widget text-center" >
                        <button class="btn btn-rein"  id="button-filter"  type="submit"  >Применить</button>
                      </div>
                    </form>
                                         

                     

                      
                  </div>
              </div>
                <!-- Раздел категорий -->
              <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                  <!-- Shop Top Sidebar -->
                  <div class="shop_top_sidebar_area d-flex flex-wrap align-items-center justify-content-between">
                      <div class="view_area d-flex">
                          <div class="grid_view">
                              <a href="" id="button-grid" data-toggle="tooltip" data-placement="top" title="Таблица"><i class="fas fa-th"></i></a>
                          </div>
                          <div class="list_view ml-3">
                              <a href="" id="button-list" data-toggle="tooltip" data-placement="top" title="Список"><i class="fas fa-th-list"></i></a>
                          </div>
                      </div>
                      <select class="small right" id="sort_by">
                          <option value="0" selected>По наименованию</option>
                          <option value="1">По популярности</option>
                          <option value="2">По рейтингу</option>
                          <option value="3">Цена по возрастанию</option>
                          <option value="4">Цена по убыванию</option>
                      </select>
                  </div>

                  <div class="shop_grid_product_area">
                      <div class="row justify-content-center row_grid_product_area">
                        {% for product in products %}
                          <!-- Single Product -->
                        <div class="col-9 col-sm-12 col-md-6 col-lg-4">
                          <div class="single-product-area mb-30">
                              <div class="product_image">
                                  <!-- Product Image -->
                                <a href="{{product.get_absolute_url}}">  <!-- .get_absolute_url-->
                                  {% for image_item in product.productimage_set.all %}
                                    {%if image_item.is_main is True %}
                                        <img class="normal_img" src="{{ image_item.image.url }}" alt="">
                                    {%endif%}
                                    <img class="hover_img" src="" alt="">
                                  {%endfor%}
                                </a>
                                  <!-- Product Badge -->
                                  {%if product.buyers_choice is True %}
                                        <div class="product_badge">
                                            <span>TOP</span>
                                        </div>
                                    {%endif%}
                                  

                                  <!-- Wishlist -->
                                  <div class="product_wishlist">
                                      <a href="wishlist.html"><i class="fa fa-heart"></i></a>
                                  </div>

                                  <!-- Compare -->
                                  <div class="product_compare">
                                      <a href="compare.html"><i class="fa fa-exchange-alt" ></i></a>
                                  </div>
                              </div>

                              <!-- Product Description -->
                              <div class="product_description ">
                                   <!--<p class="brand_name">DNP</p>-->
                                    <div>
                                        <p>{{ product.category.name }}</p>
                                        <p>{{ product.manufacturer.name }}</p>
                                        <a href="{{product.get_absolute_url}}"><i class="fa fa-arrows-h" ></i>{{ product.name }}</a>
                                    </div>
                                    <div class="price-row row d-flex justify-content-between ">
                                        <div>
                                        <h5 class="product-price"><b>{{ product.price }} ₽</b></h5>
                                        </div>
                                        <div class="product_rating">
                                            {% if product.middlestar|add:'0' >= 1 %}
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="far fa-star" aria-hidden="true"></i>
                                            {% endif %}
                                            {% if product.middlestar|add:'0' >= 2 %}
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="far fa-star" aria-hidden="true"></i>
                                            {% endif %}
                                            {% if product.middlestar|add:'0' >= 3 %}
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="far fa-star" aria-hidden="true"></i>
                                            {% endif %}
                                            {% if product.middlestar|add:'0' >= 4 %}
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="far fa-star" aria-hidden="true"></i>
                                            {% endif %}
                                            {% if product.middlestar|add:'0' >= 5 %}
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="far fa-star" aria-hidden="true"></i>
                                            {% endif %}
                                            
                                            <span>{{product.countStar}}</span>            
                                        </div>
                                            
                                            
                                        <!-- </div> -->
                                    </div>
                                    <!-- Add to cart -->
                                    <div class="product_add_to_cart">
                                        <a href="#" class="btnCart" data-product_id="{{product.id}}"><i class="fa fa-shopping-cart"></i><b> В корзину</b> </a>
                                    </div>

                                    <!-- Quick View  product_quick_view -->
                                    <div class="product_quick_view">
                                        <a href="#" class="product_quickview"  data-product_id="{{product.id}}" data-toggle="modal" data-target="#quickview">
                                        <i class="fas fa-eye"></i><b> Просмотр</b></a>
                                    </div>
                                </div>
                          </div>
                        </div>
                        {% endfor %}


                      </div>
                  </div>

                  <!-- Shop Pagination Area -->
                  <div class="shop_pagination_area mt-30">
                      <nav aria-label="Page navigation">
                          {% include '../include/pagination.html'  %}
                      </nav>
                  </div>

              </div>
          </div>
      </div>
  </section>


</main>

{% endblock content%}
